target
*~
conform/src/main/java/com/bitmechanic/test/A.java
conform/src/main/java/com/bitmechanic/test/AClient.java
conform/src/main/java/com/bitmechanic/test/B.java
conform/src/main/java/com/bitmechanic/test/BClient.java
conform/src/main/java/com/bitmechanic/test/HiResponse.java
conform/src/main/java/com/bitmechanic/test/RepeatRequest.java
conform/src/main/java/com/bitmechanic/test/RepeatResponse.java
conform/src/main/java/com/bitmechanic/test/Response.java
conform/src/main/java/com/bitmechanic/test/Status.java
src/test/java/com/bitmechanic/test/A.java
src/test/java/com/bitmechanic/test/AClient.java
src/test/java/com/bitmechanic/test/B.java
src/test/java/com/bitmechanic/test/BClient.java
src/test/java/com/bitmechanic/test/HiResponse.java
src/test/java/com/bitmechanic/test/RepeatRequest.java
src/test/java/com/bitmechanic/test/RepeatResponse.java
src/test/java/com/bitmechanic/test/Response.java
src/test/java/com/bitmechanic/test/Status.java